body {
	margin: 0 0 0 0;
}
.NotifyToast {
	z-index: 111;
	width: 100%;
	height: 2.25em;
	background-color: rgb(50,50,50);
	position: fixed;
	bottom: -2.25em;
}
.NotifyToast{
	-webkit-transition :0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.NotifyHide {
	bottom: -3.25em;
}
.NotifyShow {
	bottom: 0;
}
.NotifyToastContainer {
	position:relative; 
	height:inherit; 
	bottom: 0;
}
.NotifyImg {
	top: 0;  
	bottom: 0;  
	margin: auto; 
	left: 4.25em; 
	height: 32px;
	background-color: rgb(50,50,50);
}
.NotifyToastHint, .NotifyToastDesc, .NotifyImg {
	position: absolute;
}
.NotifyToastHint, .NotifyToastDesc {
	transform: translateY(-50%);
	top: 50%;
}
.NotifyToastHint {
	color: rgb(49, 192, 243); 
	cursor: pointer;
	right: 4.25em;
}
.NotifyToastDesc {
	width: 100%; 
	text-align: center;
	color: rgb(244, 244, 244);
}
.close {
	display: none;
}
.persistent .close {
	display: block;
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 14px;
    cursor: pointer;
}
.AwesomeImg {
	font-size: 33px;
	color: #eee;
}
@media screen and (max-width:960px) { 
	.NotifyShow {
		height:4.25em;
	}
}
@media screen and (max-width:630px) { 
	.NotifyToastContainer > .close {
		display: none;
	}
	.NotifyImg {
		left: 1.25em;
	}
	.NotifyToastHint {
		right: 1.25em;
		width: 30%;
    	word-wrap: break-word;
    	text-align: center;
	}
	.NotifyToastDesc {
		width: 40%;
	    text-align: center;
	    word-wrap: break-word;
	}
}
@media screen and (max-width:500px) { 
	.NotifyImg {
		height: 41px;
		border: 5px solid rgb(50,50,50);
		border-radius: 5px;
	}
	.NotifyShow .NotifyImg {
		top: -29px;
	}
	.NotifyHide .NotifyImg {
		top: -29px;
		transition: .8s;
		opacity: 0;
	}
	.doubleLine .NotifyImg {
		top: -95px;
	}
	.NotifyImg {
		top: 20px;
	}
	.NotifyToastDesc {
		max-width: 200px;
		left: 25%;
		text-align: center;
	}
}
